.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.cart {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: -1px 3px 10px 2px #0000007e;
}
.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 81px;
  padding: 0 5%;
  background-color: #5048e5;
}
.cart-header-head {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  color: #ffffff;
}
.cart-header-head p {
  margin: 0;
  font-size: 32px;
}
.cart-header-head span {
  font-size: 18px;
}
.cart-header button {
  color: white;
  background-color: transparent;
  border: none;
}
.cart-content {
  padding: 5%;
}
.cart-products-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 510px;
  overflow-y: scroll;
}
.cart-discount {
  margin-top: 20px;
}
.cart-discount p {
  margin: 4px;
}
.cart-discount-text-btn {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 48px;
}
.cart-discount-text-btn input {
  width: 100%;
  padding-left: 20px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #cccccc;
}
.cart-discount-text-btn button {
  width: 92px;
  color: white;
  font-weight: 600;
  background-color: #5048e5;
  border-radius: 4px;
  border: none;
}
.cart-discount-text-btn button:hover {
  box-shadow: 0 0 4px 0px #237cf8;
}
.cart-summary {
  display: flex;
  justify-content: space-between;
}
.cart-summary ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}
.cart-summary ul li {
  line-height: 40px;
}
.discount {
  margin-left: -5px;
}
.checkout {
  width: 100%;
  margin-top: 18px;
  height: 48px;
  color: white;
  background-color: #5048e5;
  border: none;
  border-radius: 4px;
  font-weight: 600;
}
.checkout:hover {
  box-shadow: 0 0 4px 0px #237cf8;
}

@media only screen and (max-width: 800px) {
  .cart-header {
    height: 61px;
  }
  .cart-header-head p {
    font-size: 24px;
  }
  .cart-header-head span {
    font-size: 13px;
  }
  .cart-product-name-price {
    display: flex;
    flex-direction: column;
  }
  .cart-product-name-price span {
    order: 2;
  }
}
