.cart-product {
  display: flex;
  gap: 10px;
}
.cart-product img {
  cursor: pointer;
}
.cart-product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-product-name-price {
  display: flex;
  justify-content: space-between;
}
.cart-product-name-price p {
  margin: 0;
}
.cart-product-name-price span {
  margin: 0;
  color: #5048e5;
  font-size: 20px;
  margin-right: 5px;
}

.cart-product-btn {
  display: flex;
  justify-content: space-between;
}
.add-to-cart-wrap {
  width: 90px;
  color: #000000;
  font-size: 11px;
}
.cart-product-btn button {
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  color: #6b7280;
  text-decoration: underline;
}
