.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: hsl(231, 31%, 12%);
  width: 100%;
  min-height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
}
.copyright {
  font-size: 10px;
  color: #ffffff;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;
}
.social a {
  color: #ffffff;
  text-decoration: none;
}
.contact {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 160px;
}
.contact a {
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (max-width: 400px) {
  .social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-left: 35%;
    padding-right: 35%;
    order: -2;
  }
  .contact {
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28%;
    padding-right: 28%;
    order: -1;
  }
  .copyright {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
  }
}
