@keyframes skeleton-loading {
  0% {
    background-color: rgba(190, 190, 190, 0.3);
  }
  100% {
    background-color: rgba(190, 190, 190, 0.6);
  }
}
.loading-animation {
  animation: skeleton-loading 0.8s linear infinite alternate;
}

.titleContent { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }